version: '3.8'

services:
  
  fastapi-backend:
    build:
      context: ./workspace
      dockerfile: Dockerfile
    
    container_name: fastapi_backend
    
    ports:
      - "8000:8000"
      
    restart: always

    environment:
      - APP_SECRET_CONFIG_NAME="prod/backend/secrets"
      - DEFAULT_REGION="ap-southeast-2"
      - DB_HOST="project-main-db.crkcc42287ai.ap-southeast-2.rds.amazonaws.com"
      - DB_NAME="project_db"
      - DB_USER="backend_user"
      - PORT="5432"
      - QDRANT_HOST="52.63.128.220"
      - QDRANT_PORT="6333"
      - QDRANT_COLLECTION_WELCOME_NAME="welcome_subjective_vectors"
      - QDRANT_COLLECTION_QPOLL_NAME="qpoll_vectors_v2"

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

networks:
  default:
    name: fastapi_network